
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navegador{
    background-color: #353c17;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navegador img{
    margin: 5px;
    height: 45px;
    width: 45px;
}
.navegador ul{
    margin-top: 10px;;
    list-style: none;
    display: flex;
    justify-content: end;
}
.navegador ul li a{
    color:#fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 20px;
    text-decoration: none;
    display: block;
    padding: 10px;
    justify-content: space-between;
    
}
.navegador{
    background-color: #353c17;
}
.navegador .menu{
    display: none;
}
@media(max-width:556px){
    .navegador .menu{
        top: 0;
        display: block;
        color: #fff;
        font-size: 30px;
        margin: 10px;
        order: -1;
    }
    .navegador .menu:hover + ul{
        left: 0px;
    }
    .navegador ul:hover{
        left: 0px;
    }
    .navegador ul{
        top: 0;
        left: -600px;
        position: fixed;
        background-color: #353c17;
        width: 80vw;
        height: 100%;
        padding-top: 100px;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        transition: 0.5s;
       
    }
}
    

.carousel-item img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}
@media(max-width:768px){
    .carousel-item img{
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
}
@media(max-width:320px){
    .carousel-item img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}
.carousel-caption h5{
    color: rgb(0, 0, 0);
    font-size: 50px;
    text-shadow: 4px 1px 0px #ffffff;
}
.carousel-caption p{
    color: rgb(0, 0, 0);
    font-size:20px;
    text-shadow: 2px 1px 0px #ffffff;
}
.carousel-control-prev-icon{
    background-color: rgb(77, 75, 75);
}
.carousel-control-next-icon{
    background-color: rgb(77, 75, 75);
}
.contenido_main_index {
    width: 100%;
    background-color: #fbd248;
    padding: 30px;
    padding-top:10px;
}
.contenido_main_index  h2{ 
    font-size: 50px;
}
.contenido_main_index  p{
    font-size: 25px;
}
.contenido_main_index img{
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
}
@media(max-width:768px){
    .contenido_main_index h2{
        font-size: 30px;
    }
    .contenido_main_index p{
        font-size: 15px;
    }
}
.contenido_main_servicios{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    background-color: #fbd248;
    padding: 20px;
}
@media(max-width: 676px){
    .contenido_main_servicios{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}
.contenido_main_quienes_somos{   
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #fbd248;
    padding: 20px;
}

.contenido_main_quienes_somos h2{
    font-size: 30px;
}
.contenido_main_quienes_somos h3{
    font-size: 20px;
}
.contenido_main_contacto{
    width: 100%;
    background-color: #fbd248;
    padding-top: 20px;
    padding-bottom: 20px;
}
.contenido_main_contacto label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
.contenido_footer{
    background-color: #fbd421;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    column-gap: 10px;
    text-align: center;
    align-items:start;
    padding-top: 10px;
}
@media(max-width:768px){
    .contenido_footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}
.contenido_footer .redes i{
    font-size: 40px;
    margin: 5px;
}
.contenido_footer h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin: 5px;
    
}
.tarjetas{
    border: solid 2px;
    border-radius: 5px;
    width: 300px;
    margin: 5px;
    padding: 5px;
    transition: 1s;
}
.tarjetas:hover{
    background-color: #353c17;
    color: #fff;
}
.tarjetas h3{
    font-size: 30px;
    text-align: center;
}
.tarjetas p{
    font-size: 20px;
    text-align: justify;
}
.tarjetas img{
    width: 100%;
    height: 300px;
}
@media(max-width:768px){
    .tarjetas h3{
        font-size: 20px;
    }
    .tarjetas p{
        font-size: 15px;
    }
}
@media(max-width:350px){
    .tarjetas{
        width:250px;
    }
    .tarjetas img{
        height: 200px;
    }
}

.tarjetas_2{
    width: 300px;
    border: solid 2px;
    border-radius: 5px;
    margin: 5px;
    transition: 1s;
}
.tarjetas_2:hover{
    background-color: #353c17;
    color: #fff;
}
.tarjetas_2 h2{
    font-size: 30px;
    text-align: center;
}
.tarjetas_2 h3{
    font-size: 20px;
    text-align: center;
}
.tarjetas_2 h4{
    font-size: 40px;
    text-align: center;
}
.tarjetas_2 ul li{
    font-size: 15px;
    text-align: left;
    list-style:inside;
}
.tarjetas_2 img{
    width: 100%;
   
}
.formulario{
    width: 50%;
    padding: 10px; 
    margin: 10px auto;
    border-radius: 5px;
    border: solid;
    border-color: black;
    color: #fff;
    background-color: #353c17;
} 
.formulario input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.822)
}
.formulario input:focus{
    outline: none;
    border: none;
    border-bottom: 3px solid white
}
.formulario button{
    font-size: 15px;
    border-radius: 5px;
}
.dato{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
@media(max-width:768px){
    .formulario{
        width: 75%;
    }
}